<div class="bg-light p-5 rounded-lg m-3">
  <h1 class="display-4">Bem-vindo ao Blog do Node</h1>
  <p class="lead">Este é um blogapp simples feito com o intuito de aprender Node.js de forma simples e interativa.</p>
  <hr class="my-4">
  <p>Nesse blog é possível criar e editar categorias e fazer postagens!</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Crie uma conta</a>
</div>
<hr>
<h2>Postagens recentes: </h2>

{{#each postagens}}
<div class="card  mt-4">
    <div class="card-body">
        <h3>{{titulo}}</h3>
        <p>{{descricao}}</p>
        <a href="/postagem/{{slug}}"><button class="btn btn-success">Leia mais</button></a>
        <hr>
        <small>Categoria: {{categoria.nome}}</small>
        <br>
        <small>Data de publicação: {{data}}</small>
    </div>
</div>
{{else}}
<h5>Nenhuma posatgem registrada!</h5>
{{/each}}